/*
 * SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
#user-saml input[type="text"],textarea {
	max-width: 600px;
	width: 100%;
}

#user-saml input[type="checkbox"] {
	vertical-align:middle;
	cursor: pointer;
}

.user-saml-standalone-label {
	margin-top: 1.5ex;
	display: inline-block;
}

#user-saml h3 {
	font-weight: 700;
	margin: 20px 0 5px;
}

#user-saml h3 .icon-delete {
	display: inline-block;
	padding: 5px;
	margin-bottom: -6px;
}

#user-saml h4 {
	font-size: 14px;
	font-weight: 300;
	margin: 12px 0;
}

#user-saml .group {
	margin-top: 10px;
	margin-bottom: 10px;
}

#user-saml-settings > div {
	margin-bottom: 10px;
}

.indent {
	padding-left: 14px;
}

#user-saml-settings .toggle {
	clear: both;
	display: block;
	padding: 7px 0;
	cursor: pointer;
	opacity: .5;
}

#user-saml .account-list {
	margin: 10px 0 10px 0;
	overflow:hidden;
	padding: 10px 0 10px 0;
}

#user-saml .account-list li {
	float: left;
}

#user-saml .account-list li a:not(.button) {
	padding: 7px;
}

#user-saml .account-list li a.button {
	margin-left: 20px;
}

#user-saml .account-list li.active a {
	border-bottom: 1px solid #333;
	font-weight: bold;
}

#user-saml-reset-settings {
	float: right;
}
