#user-saml-apppasswords table {
	width: 100%;
	min-height: 150px;
	padding-top: 25px;
}
#user-saml-appasswords table th {
	font-weight: 800;
}
#user-saml-apppasswords table th,
#user-saml-apppasswords table td {
	padding: 10px;
}

#user-saml-apppasswords .token-list td {
	border-top: 1px solid #DDD;
	text-overflow: ellipsis;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
}
#user-saml-apppasswords .token-list td a.icon-delete {
	display: block;
	opacity: 0.6;
}

#user-saml-new-app-password {
	width: 186px;
	font-family: monospace;
	background-color: lightyellow;
}
