#saml-select-user-back-end {
	color: var(--color-primary-text);
}

#saml-select-user-back-end #av_mode{
	height: auto;
}

#saml-select-user-back-end h1 {
	font-size: 16px;
	padding: 20px 0;
}

.login-option {
	background-color: var(--color-primary-element);
	border: 1px solid var(--color-primary-text);
	font-weight: 600;
	height: 40px;

	margin: 15px 0;
	min-width: 269px;
	border-radius: 3px;
	font-size: 20px;
}

.login-option a {
	display:inline-block;
    width:100%;
    line-height:40px;
	color: var(--color-primary-text);
	cursor: pointer;
}

.login-option .icon-confirm-white {
	float: right;
	line-height: 40px;
}

