3rdparty/vendor/onelogin/php-saml/certs/
3rdparty/vendor/onelogin/php-saml/demo1/
3rdparty/vendor/onelogin/php-saml/demo2/
3rdparty/vendor/onelogin/php-saml/demo-old/
3rdparty/vendor/onelogin/php-saml/docs/
3rdparty/vendor/onelogin/php-saml/tests/
3rdparty/vendor/onelogin/php-saml/endpoints/
3rdparty/vendor/onelogin/php-saml/settings_example.php
