# This is for gitpod, DO NOT USE THIS TO HOST YOUR PRODUCTION NEXTCLOUD

version: '2'

volumes:
  nextcloud:
  db:
  config:

services:
  db:
    image: mariadb
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb_read_only_compressed=OFF
    volumes:
      - db:/var/lib/mysql
      - ./mariadb:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=wdGq73jQB0p373gLdf6yLRj5
      - MYSQL_PASSWORD=wdGq73jQB0p373gLdf6yLRj5
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud

  phpmyadmin:
    image: phpmyadmin
    container_name: pma
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    restart: always
    ports:
      - 8081:80

  app:
    image: nextcloud
    build:
      context: ./nextcloud
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8080:80
    links:
      - db
    volumes:
      - nextcloud:/var/www/html
      - config:/var/www/html/config
      - ${GITPOD_REPO_ROOT}:/var/www/html/custom_apps/user_saml
    environment:
      - MYSQL_PASSWORD=wdGq73jQB0p373gLdf6yLRj5
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
      - NEXTCLOUD_ADMIN_USER=dev
      - NEXTCLOUD_ADMIN_PASSWORD=t2qQ1C6ktYUv7
      - NEXTCLOUD_TRUSTED_DOMAINS=*.gitpod.io
      - OVERWRITEPROTOCOL=https

  simplesamlphp:
    build:
      context: ./simplesamlphp/
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8082:80
    environment:
      - SIMPLESAML_URL
      - NEXTCLOUD_URL
  
  ldap:
    build: ./ldap/
