<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
		 verbose="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
>
	<testsuite name='User_SAML App Tests'>
		<directory suffix='Test.php'>.</directory>
	</testsuite>
	<!-- filters for code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">../../../user_saml/appinfo</directory>
			<directory suffix=".php">../../../user_saml/lib</directory>
		</whitelist>
	</filter>
</phpunit>
